@font-face {
    font-family: Karla;
    src: url('/mapping/asylum/assets/Karla-Regular.eot');
    src: url('/mapping/asylum/assets/Karla-Regular.eot?#iefix') format('embedded-opentype'),
    url('/mapping/asylum/assets/Karla-Regular.woff') format('woff'),
    url('/mapping/asylum/assets/Karla-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Karla;
    src: url('/mapping/asylum/assets/Karla-Italic[wght].eot');
    src: url('/mapping/asylum/assets/Karla-Italic[wght].eot?#iefix') format('embedded-opentype'),
    url('/mapping/asylum/assets/Karla-Italic[wght].woff') format('woff'),
    url('/mapping/asylum/assets/Karla-Italic[wght].ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Karla;
    src: url('/mapping/asylum/assets/Karla-Medium.eot');
    src: url('/mapping/asylum/assets/Karla-Medium.eot?#iefix') format('embedded-opentype'),
    url('/mapping/asylum/assets/Karla-Medium.woff') format('woff'),
    url('/mapping/asylum/assets/Karla-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Karla;
    src: url('/mapping/asylum/assets/Karla-Bold.eot');
    src: url('/mapping/asylum/assets/Karla-Bold.eot?#iefix') format('embedded-opentype'),
    url('/mapping/asylum/assets/Karla-Bold.woff') format('woff'),
    url('/mapping/asylum/assets/Karla-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Karla;
    src: url('/mapping/asylum/assets/Karla-ExtraBold.eot');
    src: url('/mapping/asylum/assets/Karla-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/mapping/asylum/assets/Karla-ExtraBold.woff') format('woff'),
    url('/mapping/asylum/assets/Karla-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

* {
    font-family: 'Karla', sans-serif;
}


h1 {
    font-weight: 800;
    font-size: 320%;
    margin-bottom: 1.8em;
    line-height: 110%;
}

h2 {
    font-weight: 700;
    font-size: 200%;
}

#menubar h2 {
    margin-top: 2em;
}

#menubar li {
    margin-top: 0.5em;
}

#menubar .definition {
    margin-left: 1em;
    margin-right: 1em;
}

#menubar .definition h2 {
    font-style: italic;
    margin-left: 0;
}

#menubar img {
    margin-left: 0.5em;
    width: 22em;
}

@keyframes blendin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.info_button:hover {
  font-weight: 700;
}

.info_button:active {
  font-weight: 700;
  background: lightgrey;
  border-radius: 0.3em;
}

.introduction_button:hover {
  font-weight: 700;
}

.introduction_button:active {
  font-weight: 700;
  background: lightgrey;
}

#menubar::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar For Chrome, Safari, and Opera */
}

#hide-introduction:hover {
  transform: scale(1.1);
}

#hide-introduction-cross:hover {
  transform: scale(1.2);
}
